/* Panel */
/* Panel Buttons */
/*$btn-color: #8dbed6;*/
/* Layer Select Row */
/* Graphs */
@media only screen and (max-width: 480px) {
  .hidden-mobile-portrait {
    display: none; } }

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .hidden-mobile-landscape {
    display: none; } }

@media only screen and (max-width: 480px) {
  .leaflet-top.leaflet-left {
    padding-top: 37px; } }

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .leaflet-top.leaflet-left {
    padding-top: 37px; } }

.mobile-map-menu-wrapper {
  position: absolute;
  top: 4px;
  right: 7px; }

.mobile-map-menu-btn-wrapper {
  display: inline-block;
  padding-left: 3px; }

.mobile-map-menu-button {
  height: 30px;
  width: 30px;
  background: #6682a9;
  border-radius: 5px;
  cursor: pointer; }
  .mobile-map-menu-button img {
    width: 30px;
    padding: 3px; }

.graph-elem {
  border-bottom: 1px solid #282828;
  padding: 20px 15px; }
  @media only screen and (max-width: 480px) {
    .graph-elem {
      padding-bottom: 40px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .graph-elem {
      padding-bottom: 40px; } }
  .graph-elem .pan-to-marker-btn {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #282828;
    border-radius: 5px;
    margin-right: 12px; }
    .graph-elem .pan-to-marker-btn.animate {
      -webkit-animation-name: graph-elem-animate;
              animation-name: graph-elem-animate;
      -webkit-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
  .graph-elem svg {
    position: relative;
    min-height: 270px;
    height: 100%; }

@-webkit-keyframes graph-elem-animate {
  50.0% {
    background-color: orange; } }

@keyframes graph-elem-animate {
  50.0% {
    background-color: orange; } }

.graphs-active #map {
  cursor: crosshair; }

.timeseries-graph, .overlapping-graph, .polar-graph {
  display: none; }

.graph-timeseries .timeseries-graph {
  display: block; }
  .graph-timeseries .timeseries-graph svg {
    width: 100%; }

.graph-overlapping .overlapping-graph {
  display: block; }
  .graph-overlapping .overlapping-graph svg {
    width: 85%; }
    @media only screen and (max-width: 480px) {
      .graph-overlapping .overlapping-graph svg {
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 668px) {
      .graph-overlapping .overlapping-graph svg {
        width: 100%; } }

.graph-polar .polar-graph {
  display: block; }
  .graph-polar .polar-graph svg {
    width: 85%;
    min-height: 490px; }
    @media only screen and (max-width: 480px) {
      .graph-polar .polar-graph svg {
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 668px) {
      .graph-polar .polar-graph svg {
        width: 100%; } }

.graph-loading .timeseries-graph, .graph-loading .overlapping-graph, .graph-loading .polar-graph {
  display: none; }

.graph-loading .graph-loading-div {
  display: block;
  background-image: url(../imgs/loader.gif); }

.graph-loading-div {
  display: none;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 47.9%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px;
  text-align: center; }
  .graph-loading-div:after {
    position: absolute;
    content: "Loading Graph";
    bottom: 30%;
    left: 0;
    right: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #666; }

/* Graph Tooltips */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 100; }

div.tooltip:after {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid lightsteelblue;
  bottom: -8px;
  left: 40px;
  content: "";
  z-index: 100; }

/* SVG */
.axis path, .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1; }

.axis text {
  font: 13px sans-serif; }

.axis line, .axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
  stroke-width: 1px; }

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
  stroke-width: 1px; }

circle {
  position: relative;
  z-index: 0; }
  circle.active {
    z-index: 100; }

circle.point {
  stroke-width: .7px; }
  circle.point.active {
    stroke-width: 1px; }

circle.center {
  stroke-width: 1px; }
  circle.center.active {
    stroke-width: 1.5px; }

path {
  stroke: steelblue;
  stroke-width: 1px;
  fill: none; }

.frame {
  fill: none;
  stroke: #000; }

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1px; }

.center-line {
  stroke: #ea0c48;
  stroke-width: 4px; }

.center-line.line--thresholdsactive {
  stroke: #578fe3; }

.growing-season-line {
  stroke: #e28c0b;
  stroke-width: 1px; }

.line--thresholdsactive {
  stroke-dasharray: 3 2; }

.center--thresholdsactive {
  fill: #578fe3; }

/* UI */
.graph-elem {
  position: relative;
  /* The Graph */ }
  .graph-elem div {
    clear: both; }

.remove-graph {
  float: right;
  background: transparent;
  color: #f31616;
  font-size: 19px;
  padding: 2px 6px;
  border: 1px solid #f31616;
  border-radius: 4px;
  cursor: pointer; }

.input-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 15%; }
  @media only screen and (max-width: 480px) {
    .input-wrapper {
      width: 100%; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .input-wrapper {
      width: 100%; } }
  .input-wrapper div {
    margin-top: 2px; }
  @media only screen and (max-width: 480px) {
    .input-wrapper > div {
      display: inline-block;
      margin-right: 15px;
      margin-top: 5px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .input-wrapper > div {
      display: inline-block;
      margin-right: 15px;
      margin-top: 5px; } }
  .input-wrapper label {
    font-size: 13px;
    padding-left: 5px;
    cursor: pointer; }
  .input-wrapper input {
    cursor: pointer; }
  .input-wrapper label, .input-wrapper input {
    vertical-align: middle; }

.graph-lat-lon {
  display: inline-block;
  font-size: 15px; }

.graph-pip-example {
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 4px; }

.d3-tip {
  z-index: 100; }

/* Panel */
/* Panel Buttons */
/*$btn-color: #8dbed6;*/
/* Layer Select Row */
/* Graphs */
.layer-group-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  position: relative; }

.layer-group {
  border-top: 1px solid #282828; }

/* Panel */
/* Panel Buttons */
/*$btn-color: #8dbed6;*/
/* Layer Select Row */
/* Graphs */
.layer-select {
  border-bottom: 1px solid #282828;
  display: none; }

.layer-group-wrapper.active .layer-select {
  display: block;
  width: 100%;
  position: relative;
  color: #22333B;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 15px; }
  .layer-group-wrapper.active .layer-select:nth-child(even) {
    background-color: #b7cff6; }
  .layer-group-wrapper.active .layer-select:nth-child(odd) {
    background-color: #c4d8f7; }

.layer-label-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 85%; }

.layer-select input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.layer-label, .layer-info-btn {
  font: 15px sans-serif;
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Layer Description */
.layer-info-btn-wrapper {
  display: inline-block;
  position: absolute;
  right: 27px; }
  .layer-info-btn-wrapper .layer-info-icon {
    width: 26px;
    height: 26px; }
  .layer-info-btn-wrapper .layer-info-icon:hover {
    cursor: pointer; }

.layer-info-wrapper {
  display: none; }
  .layer-info-wrapper.active {
    display: block;
    margin: 5px 0px 0px 0px;
    font: 13px sans-serif;
    font-weight: bold; }

/* Layer Tools (legend and opacity) */
.legend-wrapper img {
  width: 75%; }

.layer-tools-wrapper {
  display: none; }
  .layer-tools-wrapper.active {
    display: block;
    position: relative;
    margin-top: 35px;
    width: 100%;
    min-height: 120px; }

/* Layer Legend */
.legend-wrapper {
  display: inline-block; }
  .legend-wrapper img {
    height: 100%; }

/* Opacity Slider */
.opacity-slider-wrapper {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  position: absolute;
  right: 0px; }
  .opacity-slider-wrapper .opacity-slider-track-overlay {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 100px;
    top: -5px;
    cursor: pointer; }
  .opacity-slider-wrapper .opacity-slider-track {
    display: inline-block;
    width: 2px;
    height: calc(100% - 10px);
    background-color: black;
    position: relative;
    top: 5px;
    left: 9px; }
  .opacity-slider-wrapper .opacity-slider-handle {
    display: inline-block;
    border: 0.5px solid #282828;
    border-radius: 2px;
    background-color: #6682a9;
    width: 20px;
    height: 10px;
    position: absolute;
    right: 0px; }
  .opacity-slider-wrapper .opacity-icon-wrapper {
    display: block;
    position: relative; }
    .opacity-slider-wrapper .opacity-icon-wrapper .opacity-icon {
      width: 20px;
      height: 20px;
      cursor: pointer; }
      .opacity-slider-wrapper .opacity-icon-wrapper .opacity-icon.closed {
        margin-top: -5px; }

/* Panel */
/* Panel Buttons */
/*$btn-color: #8dbed6;*/
/* Layer Select Row */
/* Graphs */
#right-panel {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-top: 55px;
  border-left: 1px solid #282828;
  vertical-align: top;
  overflow-x: hidden;
  z-index: 10; }
  #right-panel.graphs-active {
    padding-top: 105px;
    min-width: 600px;
    width: 600px; }
  #right-panel.layers-active {
    min-width: 465px;
    width: 465px; }
  #right-panel.about-active {
    min-width: 465px;
    width: 465px; }
  @media only screen and (max-width: 480px) {
    #right-panel {
      width: 100% !important;
      min-width: 100% !important;
      height: 50% !important;
      padding-top: 40px !important;
      padding-bottom: 37px !important;
      border-left: 0;
      bottom: 0;
      top: inherit; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #right-panel {
      width: 50% !important;
      min-width: 50% !important;
      padding-top: 72px !important;
      padding-bottom: 37px !important; } }

@media only screen and (max-width: 480px) {
  .mobile-menu-hidden #map-wrapper {
    height: 100%;
    padding-bottom: 37px; } }

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .mobile-menu-hidden #map-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 37px; } }

@media only screen and (max-width: 480px) {
  .mobile-menu-hidden #right-panel {
    height: 37px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; } }

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .mobile-menu-hidden #right-panel {
    width: 100% !important;
    min-width: 100% !important;
    height: 37px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-left: 0;
    bottom: 0;
    top: inherit; } }

@media only screen and (max-width: 480px) {
  .mobile-menu-hidden #right-panel-header, .mobile-menu-hidden .panel-section-wrapper.active {
    display: none; } }

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .mobile-menu-hidden #right-panel-header, .mobile-menu-hidden .panel-section-wrapper.active {
    display: none; } }

#right-panel-drag-overlay {
  z-index: 5;
  height: inherit;
  padding: 5px;
  position: absolute; }
  @media only screen and (max-width: 480px) {
    #right-panel-drag-overlay {
      display: none; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #right-panel-drag-overlay {
      display: none; } }

#right-panel-header {
  border-bottom: 1px solid #282828;
  width: inherit;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  @media only screen and (max-width: 480px) {
    #right-panel-header {
      top: 50%;
      border-top: 1px solid #282828;
      height: 40px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #right-panel-header {
      top: 37px;
      height: 40px; } }

#graphs-header-wrapper {
  position: fixed;
  width: inherit;
  height: 50px;
  top: 55px;
  padding-top: 10px;
  border-bottom: 3px solid #282828;
  background: #fff;
  z-index: 5;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  @media only screen and (max-width: 480px) {
    #graphs-header-wrapper {
      position: relative;
      top: 0; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #graphs-header-wrapper {
      position: relative;
      top: 0; } }

#graph-type-header {
  position: absolute;
  bottom: 0; }

.graph-type-info {
  display: none; }
  .graph-type-info.active {
    display: block;
    font-size: 18px;
    padding: 20px;
    border-bottom: 1px solid #282828; }

.panel-section-wrapper {
  display: none; }
  .panel-section-wrapper.active {
    display: inline-block;
    position: relative;
    width: 100%; }

#layer-list-wrapper.active #layer-list {
  display: inline-block;
  width: 100%; }

#layer-list-wrapper #layer-list {
  display: none; }

#graphs-wrapper {
  max-height: 100%; }

.graph-list {
  max-height: inherit; }

/* Panel Buttons */
.btn {
  cursor: pointer;
  background-color: #6682a9;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  letter-spacing: .75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:hover {
    background-color: #6f8aae; }
  .btn.active {
    background-color: #7a9ac7; }

.panel-btn {
  display: inline-block;
  height: 100%;
  width: 33.333%;
  vertical-align: top;
  text-align: center;
  border-right: 1px solid #282828; }
  .panel-btn:last-child {
    border-right: 0; }

.panel-top-btn {
  position: relative; }
  .panel-top-btn.active:before {
    content: " ";
    position: absolute;
    bottom: -12px;
    left: 47%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #282828;
    z-index: 10; }
  .panel-top-btn.active:first-child:before {
    margin-left: 0; }
  @media only screen and (max-width: 480px) {
    .panel-top-btn.active:last-child:before {
      margin-left: 0; } }
  .panel-top-btn.active:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #7a9ac7;
    z-index: 100; }

.btn-middle-align-ghost {
  height: 100%;
  padding-bottom: 3px; }
  .btn-middle-align-ghost div, .btn-middle-align-ghost:before {
    display: inline-block;
    vertical-align: middle; }
  .btn-middle-align-ghost:before {
    width: .05%;
    height: 100%;
    content: " "; }
  .btn-middle-align-ghost div {
    width: 99.5%; }

.layer-group-btn:before {
  content: " ";
  width: 12px;
  height: 20px;
  display: inline-block;
  background-size: 22px 11px;
  position: absolute;
  left: 10px;
  top: 14px;
  background-repeat: no-repeat;
  background-position: 4px 1px;
  background-image: url(../imgs/arrows.png); }

.layer-group-wrapper.active .layer-group-btn:before {
  content: " ";
  background-position: -7px 2px;
  width: 15px; }

.graph-type-btn {
  background: #fff;
  width: auto;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 10px -3px;
  box-sizing: content-box;
  border-right: none;
  color: #111;
  text-shadow: none;
  font-weight: normal;
  font-size: 16px;
  height: 34px;
  line-height: 36px; }
  @media only screen and (max-width: 480px) {
    .graph-type-btn {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 7px -3px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .graph-type-btn {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0 5px -3px; } }
  .graph-type-btn:hover {
    background: #fff;
    color: #6f8aae;
    border-bottom: 3px solid #6f8aae; }
  .graph-type-btn.active {
    background: #fff;
    color: #7a9ac7;
    border-bottom: 3px solid #7a9ac7; }

#about-text {
  padding: 15px;
  font-size: 16px;
  color: #333; }
  #about-text h3 {
    font-size: 24px;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 24px, #333333 25px);
    padding-bottom: 15px; }
  #about-text p {
    padding-bottom: 15px;
    line-height: 1.5em; }
  #about-text ul {
    padding: 0 0 15px 20px; }
  #about-text li {
    margin-bottom: 5px; }
  #about-text a {
    cursor: pointer;
    color: #f69232; }

.about-icon {
  width: auto;
  height: 16px; }

.map-menu-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000; }
  .map-menu-wrapper button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: #363636;
    background-repeat: no-repeat;
    display: inline-block; }

.panel-active .panel-inactive-text {
  display: none; }

.panel-active #hide-menu-button:hover {
  background-image: url(../imgs/desktop-menu-closer.gif); }

.panel-inactive .panel-active-text {
  display: none; }

.panel-inactive #hide-menu-button {
  background-image: url(../imgs/desktop-menu-closed.png); }
  .panel-inactive #hide-menu-button:hover {
    background-image: url(../imgs/desktop-menu-opener.gif); }

@media only screen and (min-width: 769px) {
  .panel-inactive #map-wrapper {
    width: 100% !important;
    padding-right: 0 !important; }
  .panel-inactive #right-panel {
    display: none !important; } }

.map-menu-btn-wrapper {
  padding-left: 5px;
  display: inline-block; }

#clear-map-button {
  padding: 6px 10px 8px 30px;
  background-position: 5%;
  background-size: 25px;
  background-image: url(../imgs/trash-can-icon.png); }

#toggle-panel-button {
  padding: 6px 10px 8px 30px;
  background-size: 30px;
  background-image: url(../imgs/desktop-menu-open.png); }

.leaflet-control-geosearch {
  /* leaflet button styling */
  /* resets for pending and error icons */
  /* pending icon */
  /* error icon */
  /* search form styling */ }
  .leaflet-control-geosearch .leaflet-bar-part {
    border-radius: 4px;
    border-bottom: none; }
  .leaflet-control-geosearch a.leaflet-bar-part {
    /* magnifying glass */ }
    .leaflet-control-geosearch a.leaflet-bar-part:before, .leaflet-control-geosearch a.leaflet-bar-part:after {
      position: absolute;
      display: block;
      content: ''; }
    .leaflet-control-geosearch a.leaflet-bar-part:before {
      top: 19px;
      left: 16px;
      width: 8px;
      border-top: 2px solid #555;
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg); }
    .leaflet-control-geosearch a.leaflet-bar-part:after {
      top: 6px;
      left: 6px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      border: 2px solid #555; }
  .leaflet-control-geosearch.error a.leaflet-bar-part:before, .leaflet-control-geosearch.pending a.leaflet-bar-part:before {
    display: none; }
  .leaflet-control-geosearch.error a.leaflet-bar-part:after, .leaflet-control-geosearch.pending a.leaflet-bar-part:after {
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin: -9px 0 0 -9px;
    border-radius: 50%; }
  .leaflet-control-geosearch.pending a.leaflet-bar-part:after {
    content: '';
    border: 2px solid #555;
    border-top: 2px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite; }
  .leaflet-control-geosearch.error a.leaflet-bar-part:after {
    content: '!';
    line-height: initial;
    font-weight: 600;
    font-size: 18px;
    border: none; }
  .leaflet-control-geosearch form {
    display: none;
    position: absolute;
    top: -2px;
    left: 28px;
    border-radius: 0 4px 4px 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    background-color: #fff;
    background-clip: padding-box;
    z-index: -1;
    height: auto;
    margin: 0;
    padding: 0 8px; }
    .leaflet-control-geosearch form input {
      min-width: 200px;
      width: 100%;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      font-size: 12px;
      height: 30px;
      border-radius: 0 4px 4px 0;
      text-indent: 8px; }
  .leaflet-control-geosearch.active form {
    display: block; }
  .leaflet-control-geosearch .results {
    background: #fff;
    /* add missing border to form */ }
    .leaflet-control-geosearch .results > * {
      line-height: 24px;
      padding: 0 8px;
      border: 1px solid transparent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .leaflet-control-geosearch .results.active {
      padding: 8px 0;
      border-top: 1px solid #c6c6c6; }
    .leaflet-control-geosearch .results > .active, .leaflet-control-geosearch .results > :hover {
      background-color: #f8f8f8;
      border-color: #c6c6c6;
      cursor: pointer; }
    .leaflet-control-geosearch .results.active:after {
      content: '';
      display: block;
      width: 0;
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -2px;
      bottom: -2px;
      top: 30px; }
  .leaflet-control-geosearch.bar {
    position: relative;
    display: block;
    height: auto;
    width: 400px;
    margin: 10px auto 0;
    cursor: auto;
    z-index: 1000; }
    .leaflet-control-geosearch.bar form {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px; }
      .leaflet-control-geosearch.bar form input {
        min-width: 100%;
        width: 100%; }
    .leaflet-control-geosearch.bar .results.active:after {
      opacity: .2; }

/* animations */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.leaflet-top .leaflet-control-geosearch.bar,
.leaflet-bottom .leaflet-control-geosearch.bar {
  display: none; }

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none; }

#map .base-selector {
  display: inline-block;
  border: 4px solid #6682a9;
  position: relative;
  width: 88px;
  height: 88px;
  margin-right: 30px;
  box-shadow: 0px 0px 5px black; }
  @media only screen and (max-width: 480px) {
    #map .base-selector {
      width: 44px;
      height: 44px;
      margin-right: 10px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #map .base-selector {
      width: 44px;
      height: 44px;
      margin-right: 10px; } }
  #map .base-selector:hover {
    cursor: pointer; }
  #map .base-selector.active {
    border-color: #fff; }
  #map .base-selector img {
    width: 100%;
    height: auto; }
  #map .base-selector div {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    line-height: 1em;
    background: linear-gradient(0deg, rgba(52, 61, 70, 0.035), rgba(52, 61, 70, 0.45));
    color: #fff; }
    @media only screen and (max-width: 480px) {
      #map .base-selector div {
        display: none; } }
    @media only screen and (min-width: 481px) and (max-width: 668px) {
      #map .base-selector div {
        display: none; } }

.leaflet-bottom.leaflet-left {
  pointer-events: all; }

.baselayer-ui {
  padding: 36px 12px; }

.project-logo {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  max-width: 145px;
  padding: 5px 10px;
  float: right;
  pointer-events: auto; }
  .project-logo img {
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 480px) {
    .project-logo {
      display: none; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .project-logo {
      display: none; } }

.mobile-header {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
  width: 100%;
  height: 37px;
  display: none;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .mobile-header {
      display: block; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .mobile-header {
      display: block;
      background: #fff; } }

.logo-mobile img {
  width: 135px;
  padding: 5px; }

#right-panel {
  padding-bottom: 55px; }

.shareurl-panel {
  width: inherit;
  height: 55px;
  position: fixed;
  bottom: 0;
  line-height: 55px;
  font-size: 16px;
  padding: 0 15px;
  background-color: #dcdcdc;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  @media only screen and (max-width: 480px) {
    .shareurl-panel {
      height: 38px;
      line-height: 38px; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .shareurl-panel {
      height: 38px;
      line-height: 38px; } }
  .shareurl-panel > span {
    vertical-align: middle;
    margin-right: 10px;
    height: 28px;
    line-height: 24px; }
  .shareurl-panel .shareurl-label {
    font-size: 12px;
    margin-right: 10px; }

.shareurl-button {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
  .shareurl-button a {
    cursor: pointer; }

.shareurl-link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold; }
  .shareurl-link img {
    width: auto;
    height: 16px;
    margin-right: 5px; }
    @media only screen and (max-width: 480px) {
      .shareurl-link img {
        margin-right: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 668px) {
      .shareurl-link img {
        margin-right: 0; } }
  .shareurl-link img, .shareurl-link span {
    vertical-align: middle; }
  .shareurl-link a {
    background: #06c8f7;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px; }
    .shareurl-link a:hover {
      background: #05a8d1; }

.shareurl-link-popup {
  position: absolute;
  top: -70px;
  left: -70%;
  width: 300px;
  padding: 5px 10px;
  text-align: center;
  background-color: #f3f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  display: none; }
  .shareurl-link-popup.active {
    display: block; }
  .shareurl-link-popup:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 30%;
    left: 53.5%;
    z-index: -1;
    margin-left: -18px;
    box-shadow: 11px 17px 16px 4px #333333; }
  .shareurl-link-popup:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f3f2f2; }
  .shareurl-link-popup input {
    width: 100%;
    padding: 4px 5px;
    font-size: 14px; }
  .shareurl-link-popup .remove-graph {
    position: absolute;
    float: none;
    top: 8px;
    right: 10px;
    font-size: 12px;
    padding: 0 3px; }

.shareurl-facebook, .shareurl-twitter {
  display: inline-block; }

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff; }

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 5px 10px;
  height: 28px;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .5px; }

.resp-sharing-button__icon svg {
  width: 16px;
  height: 16px;
  margin-right: 0.4em;
  vertical-align: top; }
  @media only screen and (max-width: 480px) {
    .resp-sharing-button__icon svg {
      margin-right: 0; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    .resp-sharing-button__icon svg {
      margin-right: 0; } }

.resp-sharing-button__icon path {
  stroke: none;
  fill: #fff; }

.resp-sharing-button__icon--solid {
  fill: #fff;
  stroke: none; }

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee; }
  .resp-sharing-button--twitter:hover, .resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9; }

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998; }
  .resp-sharing-button--facebook:hover, .resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373; }

html, body, #wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

#map-wrapper {
  height: 100%;
  padding-right: 465px; }
  @media only screen and (max-width: 480px) {
    #map-wrapper {
      height: 50%;
      padding-right: 0 !important; } }
  @media only screen and (min-width: 481px) and (max-width: 668px) {
    #map-wrapper {
      width: 50%;
      padding-right: 0 !important; } }

#map {
  z-index: 0;
  height: 100%; }

body {
  font: 12px Arial; }

* {
  margin: 0;
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

