
@import 'panel';

$graph-close-button-color: #f31616;

/* Graph UI */

.graph-type-btn {
    width: 33.333%;
}

#graphs-wrapper {
    max-height: 100%;
}

.graph-list {
    max-height: 100%;
    margin-top: -50px;
    padding-top: 50px;
}

.graph-elem {
    border-bottom: 1px solid $border-color;
    padding: 20px 15px;

    .pan-to-marker-btn {
        padding: 5px;
        font-size: 1em;
        border: 1px solid $border-color;
        border-radius: 5px;
        margin-right: 12px;

        &.animate {
            animation-name: graph-elem-animate;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
    }

    svg {
        position: relative;
        min-height: 270px;
        height: 100%;
    }


}

@keyframes graph-elem-animate {
    50.0% { background-color: orange; }
}

.graphs-active #map {
    cursor: crosshair;
}

.timeseries-graph, .overlapping-graph, .polar-graph {
    display: none;
}

.graph-timeseries .timeseries-graph {
    display: block;
    
    svg {
        width: 100%;
    }
}

.graph-overlapping .overlapping-graph {
    display: block;

    svg {
        width: 85%;
    }
}

.graph-polar .polar-graph {
    display: block;

    svg {
        width: 85%;
        min-height: 490px;
    }
}


/* Graph Tooltips */

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 100;
}

div.tooltip:after {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid lightsteelblue;
    bottom: -8px;
    left: 40px;
    content: "";
    z-index: 100;
}

/* SVG */

circle {
    position: relative;
    z-index: 0;

    &.active {
        z-index: 100;
    }
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.frame {
    fill: none;
    stroke: #000;
}

.axis {
    path, line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    text {
        font: 10px sans-serif;
    }

    line, circle {
        fill: none;
        stroke: #777;
        stroke-dasharray: 1,4;
    }

    :last-of-type circle {
        stroke: #333;
        stroke-dasharray: none;
    }
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.center-line {
    stroke: #dd82d2;
    stroke-width: 3px;
}

.growing-season-line {
    stroke: #e28c0b;
    stroke-width: 1px;
}

/* UI */

.graph-elem {
    position: relative;
}

.remove-graph {
    position: absolute;
    right: 15px;
    top: 20px;
    background: white;
    background: transparent;
    color: $graph-close-button-color;
    font-size: 19px;
    padding: 2px 6px;
    border: 1px solid $graph-close-button-color;
    border-radius: 4px;
    z-index: 100;
    cursor: pointer;
}

.input-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 15%;

    div {
        margin-top: 2px;
    }

    label {
        padding-left: 5px;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }
}
