.graph-elem {
	border-bottom: 1px solid $border-color;
	padding: 20px 15px;

	& {
		@include mobile-display("phone-portrait") {
			padding-bottom: 40px;
		}
		@include mobile-display("phone-landscape") {
			padding-bottom: 40px;
		}
	}

	.pan-to-marker-btn {
		padding: 5px;
		font-size: 1em;
		border: 1px solid $border-color;
		border-radius: 5px;
		margin-right: 12px;

		&.animate {
			animation-name: graph-elem-animate;
			animation-duration: .5s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1;
		}
	}

	svg {
		position: relative;
		min-height: 270px;
		height: 100%;
	}
}

@keyframes graph-elem-animate {
	50.0% { background-color: orange; }
}

.graphs-active #map {
	cursor: crosshair;
}

.timeseries-graph, .overlapping-graph, .polar-graph {
	display: none;
}

.graph-timeseries {

	.timeseries-graph {
		display: block;

		svg {
			width: 100%;
		}
	}
}

.graph-overlapping {

	.overlapping-graph {
		display: block;

		svg {
			width: 85%;

			& {
				@include mobile-display("phone-portrait") {
					width: 100%;
				}
				@include mobile-display("phone-landscape") {
					width: 100%;
				}
			}
		}
	}
}

.graph-polar {

	.polar-graph {
		display: block;

		svg {
			width: 85%;
			min-height: 490px;

			& {
				@include mobile-display("phone-portrait") {
					width: 100%;
				}
				@include mobile-display("phone-landscape") {
					width: 100%;
				}
			}
		}
	}
}

.graph-loading {
	.timeseries-graph, .overlapping-graph, .polar-graph {
		display: none;
	}

	.graph-loading-div {
		display: block;
		background-image: url("../../imgs/loader.gif");
	}
}

.graph-loading-div {
	display: none;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 47.9%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 40px;
	text-align: center;

	&:after {
		position: absolute;
		content: "Loading Graph";
		bottom: 30%;
		left: 0;
		right: 0;
		font-size: 14px;
		text-transform: uppercase;
		color: #666;
	}
}

/* Graph Tooltips */

div.tooltip {
	position: absolute;
	text-align: center;
	width: 80px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	z-index: 100;
}

div.tooltip:after {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid lightsteelblue;
	bottom: -8px;
	left: 40px;
	content: "";
	z-index: 100;
}

/* SVG */

.axis {
	path, line {
		fill: none;
		stroke: grey;
		stroke-width: 1;
	}

	text {
		font: 13px sans-serif;
	}

	line, circle {
		fill: none;
		stroke: #777;
		stroke-dasharray: 1,4;
		stroke-width: 1px;
	}

	:last-of-type circle {
		stroke: #333;
		stroke-dasharray: none;
		stroke-width: 1px;
	}
}

circle {
	position: relative;
	z-index: 0;

	&.active {
		z-index: 100;
	}
}

circle.point {

	stroke-width: .7px;

	&.active {
		stroke-width: 1px;
	}
}

circle.center {

	stroke-width: 1px;

	&.active {
		stroke-width: 1.5px;
	}
}

path {
	stroke: steelblue;
	stroke-width: 1px;
	fill: none;
}

.frame {
	fill: none;
	stroke: #000;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

.center-line {
	stroke: #ea0c48;
	stroke-width: 4px;
}

.growing-season-line {
	stroke: #e28c0b;
	stroke-width: 1px;
}

/* UI */

.graph-elem {
	position: relative;

	/* The Graph */
	div {
		clear: both;
	}
}

.remove-graph {
	float: right;
	background: transparent;
	color: $graph-close-button-color;
	font-size: 19px;
	padding: 2px 6px;
	border: 1px solid $graph-close-button-color;
	border-radius: 4px;
	cursor: pointer;
}

.input-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 15%;

	& {
		@include mobile-display("phone-portrait") {
			width: 100%;
		}
		@include mobile-display("phone-landscape") {
			width: 100%;
		}
	}

	div {
		margin-top: 2px;
	}

	> div {
		& {
			@include mobile-display("phone-portrait") {
				display: inline-block;
				margin-right: 15px;
				margin-top: 5px;
			}
			@include mobile-display("phone-landscape") {
				display: inline-block;
				margin-right: 15px;
				margin-top: 5px;
			}
		}
	}

	label {
		font-size: 13px;
		padding-left: 5px;
		cursor: pointer;
	}

	input {
		cursor: pointer;
	}

	label, input {
		vertical-align: middle;
	}
}

.graph-lat-lon {
	display: inline-block;
	font-size: 15px;
}

.graph-pip-example {
	display: inline-block;
	width: 7px;
	height: 7px;
	border: 1px solid black;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 4px;
}

.d3-tip {
	z-index: 100;
}