/* Layer List */

@import 'panel';

#layer-list-wrapper {
    &.active .layer-list {
        display: inline-block;
        width: 100%;
    }

    .layer-list {
        display: none;
    }
}

.layer-group-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.layer-group {
    border-top: 1px solid $border-color;
}
