@import 'vars';

.layer-select {
    border-bottom: 1px solid $border-color;
    display: none;
}

.layer-group-wrapper.active .layer-select {
    display: block;
    width: 100%;
    color: $layer-select-text-color;
    padding-top: $layer-select-padding-top;
    padding-right: $layer-select-padding-right;
    padding-bottom: $layer-select-padding-bottom;
    padding-left: $layer-select-padding-left;

    &:nth-child(even) {
        background-color: $layer-select-color-primary;
    }

    &:nth-child(odd) {
        background-color: $layer-select-color-secondary;
    }
}

.layer-label-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 85%;
}


.layer-select input {
    margin-right: $layer-checkbox-margin-right;
    width: $layer-checkbox-length;
    height: $layer-checkbox-length;
    cursor: pointer;
}

.layer-label, .layer-info-btn {
    font: 15px sans-serif;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    @include user-select(none);
}

/* Layer Description */

.layer-info-btn {
    display: inline-block;
    float: right;
}

.layer-info-wrapper {
    display: none;

    &.active {
        display: block;
        margin: 5px 0px 0px 0px;
        font: $layer-info-content-font-size sans-serif;
        font-weight: bold;
    }
}



/* Layer Tools (legend and opacity) */

.layer-tools-wrapper {
    display: none;

    &.active {
        display: block;
        height: 100px;
        margin-top: 15px;
    }
}

/* Layer Legend */

.legend-wrapper {
    
    display: inline-block;

    img {
       height: 100%; 
    }
}


/* Opacity Slider */

$opacity-slider-wrapper-height: 100%;
$opacity-slider-wrapper-padding: 10px;

$opacity-indicator-width: 3px;
$opacity-indicator-height: 10px;

$slider-handle-width: $layer-checkbox-length;
$slider-handle-height: 10px;

$opacity-slider-track-overlay-width: $slider-handle-width;
$opacity-slider-track-overlay-height: 100%;
$opacity-slider-track-overlay-padding-horiz: $slider-handle-width/2;

$opacity-slider-track-width: 2px;
$opacity-slider-track-height: calc(100% - #{$slider-handle-height});
$opacity-slider-track-offset-top: $slider-handle-height/2;

.opacity-slider-wrapper {
    display: inline-block;
    height: $opacity-slider-wrapper-height;
    margin-right: 30px;

    .opacity-slider-track-overlay {
        display: inline-block;
        position: relative;
        width: $opacity-slider-track-overlay-width;
        height: 100%;
        top: -$opacity-slider-track-offset-top;
    }

    .opacity-slider-track {
        display: inline-block;
        width: $opacity-slider-track-width;
        height: $opacity-slider-track-height;
        background-color: black;
        position: relative;
        top: $opacity-slider-track-offset-top;
        left: $slider-handle-width/2 - $opacity-slider-track-width/2;
    }

    .opacity-slider-handle {
        display: inline-block;
        border: .5px solid $border-color;
        border-radius: 2px;
        background-color: $btn-color;
        width: $slider-handle-width;
        height: $slider-handle-height;
        position: absolute;
        right: 0px;
    }

    .opacity-slider-indicator {
        display: inline-block;
    }
}

