.project-logo {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    max-width: 145px;
    padding: 5px 10px;
    float: right;
    pointer-events: auto;

    img {
        width: 100%;
        height: auto;
    }
}
