@import 'vars';

#right-panel-drag-overlay {
    z-index: 5;
    cursor: ew-resize;
    height: inherit;
    padding: 5px;
    position: absolute;
}

.panel-header-wrapper {

}

#right-panel-header {
    height: $panel-header-wrapper-height;
    position: relative;
    border-bottom: 1px solid $border-color;
}

#graph-type-header {
    height: $panel-header-wrapper-height/1.5;
    margin-top: 12px;
}

.panel-section-wrapper {
    display: none;

    &.active {
        display: inline-block;
        position: relative;
        width: 100%;
    }
}

/* Panel Buttons */

.btn {
    cursor: pointer;
    background-color: $btn-color;
    font-size: $btn-font-size;
    font-weight: bold;
    color: $btn-font-color;
    letter-spacing: .75px;
    text-shadow: -1px 1px $btn-text-shadow-color;
    @include user-select(none)

    &:hover {
        background-color: $btn-color-hover;
    }

    &.active {
        background-color: $btn-color-active;
    }
}

.panel-btn {
    display: inline-block;
    height: 100%;
    width: 33.333%;
    padding-top: 12px;
    vertical-align: top;
    text-align: center;
    border-right: 1px solid $border-color;

    &:last-child {
        border-right: 0;
    }
}

.panel-top-btn {

 
}

.graph-type-btn {
    &:first-child {
        border-radius: 15px 0px 0px 15px;
    }
    &:last-child {
        border-radius: 0px 15px 15px 0px;
    }
}

#about-text {
    p {
        padding: 15px 15px 0px 15px;
        line-height: 1.5;
        font-size: 1.3em;        
    }
}
