@import 'vars';

#right-panel {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - #{$panel-header-wrapper-height});
    margin-top: $panel-header-wrapper-height;
    vertical-align: top;
    overflow-x: hidden;
    border-left: 1px solid $border-color;

    &.graphs-active {
        height: calc(100% - #{$panel-header-and-graph-list-header-height});
        margin-top: $panel-header-and-graph-list-header-height;
        min-width: $panel-min-width-graphs;
        width: $panel-min-width-graphs;
    }

    &.layers-active {
        min-width: $panel-min-width-layers;
        width: $panel-min-width-layers;
    }

    &.about-active {
        min-width: $panel-min-width-layers;
        width: $panel-min-width-layers;
    }
}

#right-panel-drag-overlay {
    z-index: 5;
    height: inherit;
    padding: 5px;
    position: absolute;
}

.panel-header-wrapper {

}

#right-panel-header {
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    width: inherit;
    height: $panel-header-wrapper-height;
    position: fixed;
    top: 0;
}

#graph-type-header {
    position: fixed;
    width: 100%;
    height: $graph-type-header-height;
    top: $panel-header-wrapper-height;
    padding-top: $graph-type-header-padding-top;
    border-bottom: 3px solid $border-color;
    border-left: 1px solid $border-color;
}

.graph-type-info {
    display: none;

    &.active {
        display: block;
        font-size: 18px;
        padding: 20px;
        border-bottom: 1px solid $border-color;
    }
}


.panel-section-wrapper {
    display: none;

    &.active {
        display: inline-block;
        position: relative;
        width: 100%;
    }
}

#layer-list-wrapper {

    &.active #layer-list {
        display: inline-block;
        width: 100%;
    }

    #layer-list {
        display: none;
    }
}

#graphs-wrapper {
    max-height: 100%;
}

.graph-list {
    max-height: inherit;
}


/* Panel Buttons */

.btn {
    cursor: pointer;
    background-color: $btn-color;
    font-size: $btn-font-size;
    font-weight: bold;
    color: $btn-font-color;
    letter-spacing: .75px;
    text-shadow: -1px 1px $btn-text-shadow-color;
    @include user-select(none)

    &:hover {
        background-color: $btn-color-hover;
    }

    &.active {
        background-color: $btn-color-active;
    }
}

.panel-btn {
    display: inline-block;
    height: 100%;
    width: 33.333%;
    padding-top: 12px;
    vertical-align: top;
    text-align: center;
    border-right: 1px solid $border-color;

    &:last-child {
        border-right: 0;
    }
}

.panel-top-btn {
    position: relative;

    &.active {
        &:before {
            content: " ";
            position: absolute;
            bottom: -12px;
            left: 47%;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid $border-color;
            z-index: 10;
        }

        &:after {
            content: " ";
            position: absolute;
            bottom: -10px;
            left: 48%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $btn-color-active;
            z-index: 100;
        }
    }
}

.layer-group-btn {
    &:before {
        content: "\203a";
        font-size: 20px;
        line-height: 1px;
        padding-right: 10px;
        text-shadow: none;
    }
}

.layer-group-wrapper.active {
    .layer-group-btn:before {
        content: "\2304";
        font-size: 30px;
        margin-left: -5px;
        padding-right: 5px;
    }
}

.graph-type-btn {
    background: #fff;
    width: auto;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 10px -3px;
    box-sizing: content-box;
    border-right: none;
    color: #111;
    text-shadow: none;
    font-weight: normal;
    font-size: 16px;
    height: 34px;
    line-height: 34px + 2px;

    &:hover {
        background: #fff;
        color: $btn-color-hover;
        border-bottom: 3px solid $btn-color-hover;
    }

    &.active {
        background: #fff;
        color: $btn-color-active;
        border-bottom: 3px solid $btn-color-active;
    }
}

#about-text {
    p {
        padding: 15px 15px 0px 15px;
        line-height: 1.5;
        font-size: 1.3em;        
    }
}

