@import 'graphs';
@import 'search';

$panel-width-layers: 400px;
$panel-width-graphs: 620px;

$panel-header-wrapper-height: 50px;

$border-color: #666;

$btn-color: #8dbed6;
$btn-color-hover: #4eb3e4;
$btn-color-active: #06c8f7;
$btn-font-size: 16px;
$btn-font-color: #fff;
$btn-text-shadow-color: #0878af;

$layer-select-text-color: #22333B;
$layer-select-color-primary: #D9F0F9;
$layer-select-color-secondary: #C7DCE5;

$layer-checkbox-length: 18px;
$layer-checkbox-margin-right: 5px;

$layer-div-content-margin-left: $layer-checkbox-length + $layer-checkbox-margin-right;
$layer-info-content-font-size: 13px;

$legend-wrapper-margin-vert: 10px;


html, body, #wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    font: 12px Arial;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Map */

#map-wrapper {
    height: 100%;
}

#map {
    z-index: 0;
    height: 100%;
}


/* Side Panel */

#right-panel {
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    vertical-align: top;
    overflow-x: hidden;
    border-left: 1px solid $border-color;

    &.graphs-active {
        min-width: $panel-width-graphs;
    }

    &.layers-active {
        min-width: $panel-width-layers;
    }
}

#right-panel-drag-overlay {
    z-index: 5;
    cursor: ew-resize;
    height: 100%;
    padding: 5px;
    position: absolute;
}

.panel-top-btn {
    width: 50%;
}

.panel-header-wrapper {
    height: $panel-header-wrapper-height;
    border-bottom: 1px solid $border-color;
    vertical-align: top;
    position: relative;
}

.panel-section-wrapper {
    display: none;

    &.active {
        display: inline-block;
        position: relative;
        width: 100%;
    }
}

/* Panel Buttons */

.btn {
    cursor: pointer;
    background-color: $btn-color;
    font-size: $btn-font-size;
    font-weight: bold;
    color: $btn-font-color;
    letter-spacing: .75px;
    text-shadow: -1px 1px $btn-text-shadow-color;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        background-color: $btn-color-hover;
    }

    &.active {
        background-color: $btn-color-active;
    }
}

.panel-btn {
    display: inline-block;
    border-right: 1px solid $border-color;
    text-align: center;
    padding-top: 15px;
    height: 100%;

    &:last-child {
        border-right: 0;
    }
}

/* Layer List */

#layer-list-wrapper {
    &.active .layer-list {
        display: inline-block;
        width: 100%;
    }

    .layer-list {
        display: none;
    }
}

.layer-list:nth-child(1) {}

.layer-group-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.layer-group {
    border-top: 1px solid $border-color;
}

/* Layer Row */

.layer-select {
    border-bottom: 1px solid $border-color;
    display: none;
}

.layer-group-wrapper.active .layer-select {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: $layer-select-text-color;

    &:nth-child(even) {
        background-color: $layer-select-color-primary;
    }

    &:nth-child(odd) {
        background-color: $layer-select-color-secondary;
    }
}

.layer-select input {
    margin-right: $layer-checkbox-margin-right;
    width: $layer-checkbox-length;
    height: $layer-checkbox-length;
    cursor: pointer;
}

.layer-select .layer-label, .layer-info-btn {
    font: 15px sans-serif;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
}

/* Layer Description */

.layer-info-btn {
    margin-left: $layer-div-content-margin-left;
    display: inline-block;
}

.layer-info-wrapper {
    display: none;

    &.active {
        display: block;
        margin: 5px 10px 0px $layer-div-content-margin-left;
        width: 100%;
        font: $layer-info-content-font-size sans-serif;
        font-weight: bold;
    }
}

/* Layer Legend */

.legend-wrapper {
    display: none;

    &.active {
        display: block;
        margin-top: $legend-wrapper-margin-vert;
        margin-bottom: $legend-wrapper-margin-vert;
        margin-left: $layer-div-content-margin-left;
    }
}

/* Layer Opacity Slider */

.opacity-slider-wrapper {
    display: none;

    &.active {
        display: block;
    }

    svg {
        width: 100%;
        height: 40px;
    }
}

/* Graph UI */

.graph-type-btn {
    width: 33.333%;
}

#graphs-wrapper {
    max-height: 100%;
}

.graph-list {
    max-height: 100%;
    margin-top: -50px;
    padding-top: 50px;
}

.graph-elem {
    border-bottom: 1px solid #aaa;
    padding: 20px 15px
}

.graph-active #map {
    cursor: crosshair;
}

.timeseries-graph, .overlapping-graph, .polar-graph {
    display: none;
}

.graph-timeseries .timeseries-graph {
    display: block;
}

.graph-overlapping .overlapping-graph {
    display: block;
}

.graph-polar .polar-graph {
    display: block;
}


