.graph-elem {
    border-bottom: 1px solid $border-color;
    padding: 20px 15px;

    & {
        @include mobile-display("phone-portrait") {
            padding-bottom: 40px;
        }
        @include mobile-display("phone-landscape") {
            padding-bottom: 40px;
        }
    }

    .pan-to-marker-btn {
        padding: 5px;
        font-size: 1em;
        border: 1px solid $border-color;
        border-radius: 5px;
        margin-right: 12px;

        &.animate {
            animation-name: graph-elem-animate;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
    }

    svg {
        position: relative;
        height: 100%;
    }
}

@keyframes graph-elem-animate {
    50.0% { background-color: orange; }
}

.graphs-active #map {
    cursor: crosshair;
}

.timeseries-graph, .overlapping-graph, .polar-graph {
    display: none;
}

.graph-timeseries {

    .timeseries-graph {
        display: block;
    }
}

.js-plotly-plot .plotly .modebar {
    display: flex;
}

.graph-overlapping {

    .overlapping-graph {
        display: block;
    }
}

.graph-polar {

    .polar-graph {
        display: flex;
    }
}

.graph-loading {
    .timeseries-graph, .overlapping-graph, .polar-graph {
        display: none;
    }

    .graph-loading-div {
        display: block;
        background-image: url("../imgs/loader.gif");
    }
}

.graph-loading-div {
    display: none;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 47.9%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40px;
    text-align: center;

    &:after {
        position: absolute;
        content: "Loading Graph";
        bottom: 30%;
        left: 0;
        right: 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #666;
    }
}

/* Graph Tooltips */

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 100;
}

div.tooltip:after {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid lightsteelblue;
    bottom: -8px;
    left: 40px;
    content: "";
    z-index: 100;
}

/* SVG */

path {
    stroke: steelblue;
    stroke-width: 1px;
    fill: none;
}

.frame {
    fill: none;
    stroke: #000;
}

.center-line {
    & {
        stroke: #ea0c48;
        stroke-width: 4px;
    }

    &.line--thresholdsactive {
        stroke: #578fe3;
    }
}

.growing-season-line {
    stroke: #e28c0b;
    stroke-width: 1px;
}

.line--thresholdsactive {
    stroke-dasharray: 3 2;
}

.center--thresholdsactive {
    fill: #578fe3;
}

/* UI */

.graph-elem {
    position: relative;

    /* The Graph */
    div {
        clear: both;
    }
}

.remove-graph {
    float: right;
    background: transparent;
    color: $graph-close-button-color;
    font-size: 19px;
    padding: 2px 6px;
    border: 1px solid $graph-close-button-color;
    border-radius: 4px;
    cursor: pointer;
}

.input-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 15%;

    & {
        @include mobile-display("phone-portrait") {
            width: 100%;
        }
        @include mobile-display("phone-landscape") {
            width: 100%;
        }
    }

    div {
        margin-top: 2px;
    }

    > div {
        & {
            @include mobile-display("phone-portrait") {
                display: inline-block;
                margin-right: 15px;
                margin-top: 5px;
            }
            @include mobile-display("phone-landscape") {
                display: inline-block;
                margin-right: 15px;
                margin-top: 5px;
            }
        }
    }

    label {
        font-size: 13px;
        padding-left: 5px;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }

    label, input {
        vertical-align: middle;
    }
}

.graph-lat-lon {
    display: inline-block;
    font-size: 15px;
}

.graph-pip-example {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 4px;
}

.d3-tip {
    z-index: 100;
}

.plotly-legend {
    margin-top: 30px;
    //border-right: 1px solid black;
    height: 335px;
}

 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 