
@mixin user-select($option) {
	-webkit-user-select: $option;
	-khtml-user-select: $option;
	-moz-user-select: $option;
	-ms-user-select: $option;
	user-select: $option;
}

/* Panel */

$panel-min-width-layers: 465px;
$panel-min-width-graphs: 600px;

$panel-header-wrapper-height: 55px;
$panel-header-wrapper-height-mobile: 40px;
$graph-type-header-height: 50px;
$graph-type-header-padding-top: 10px;
$panel-header-and-graph-list-header-height: $panel-header-wrapper-height + $graph-type-header-height;

$border-color: #282828;

/* Panel Buttons */

/*$btn-color: #8dbed6;*/
$btn-color: #6682a9;
$btn-color-hover: #6f8aae;
$btn-color-active: #7a9ac7;
$btn-color-inactive: #6682a9;
$btn-font-size: 16px;
$btn-font-color: #fff;
$btn-text-shadow-color: #0878af;

/* Layer Select Row */

$layer-select-padding-top: 12px;
$layer-select-padding-right: 8px;
$layer-select-padding-bottom: 13px;
$layer-select-padding-left: 15px;

$layer-checkbox-length: 20px;
$layer-checkbox-margin-right: 5px;
$layer-info-content-font-size: 13px;
$layer-div-content-margin-left: $layer-checkbox-length + $layer-checkbox-margin-right;
$legend-wrapper-margin-vert: 10px;

$layer-select-text-color: #22333B;
$layer-select-color-primary: #b7cff6;
$layer-select-color-secondary: #c4d8f7;

/* Graphs */

$graph-close-button-color: #f31616;
