html, body, .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#map-wrapper {
    height: 100%;
    width: 100%;
    padding-right: 500px;
}

#map {
    height: 100%;
}

#graphs {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    display: inline-block;
    margin-left: -.3%;
    vertical-align: top;
}

.graph-header {
    height: 50px;
    border-bottom: 1px solid #666;
    vertical-align: top;
    position: relative;
    z-index: 10;
    background: #fff;
}

.header-btn {
    display: inline-block;
    border-right: 1px solid #666;
    text-align: center;
    padding-top: 15px;
    width: 60px;
    height: 100%;
    cursor: pointer;
}

.header-btn.active {
    background-color: #80e890;
}

.graph-list {
    overflow: scroll;
    max-height: 100%;
    margin-top: -50px;
    padding-top: 50px;
}

.graph-elem {
    border-bottom: 1px solid #aaa;
    padding: 20px 15px
}

.graph-active #map {
    cursor: crosshair;
}
