
/* Base Styles */

html, body, .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    font: 12px Arial;
}

* {
    white-space: nowrap;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Map */

#map-wrapper {
    height: 100%;
    padding-right: 620px;
}

#map {
    height: 100%;
}

/* Side Panel */

#right-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 620px;
    vertical-align: top;
    overflow-x: hidden;
}

.tab-header-btn {
    width: 50%;
}

.panel-header-wrapper {
    height: 50px;
    border-bottom: 1px solid #666;
    vertical-align: top;
    position: relative;
    z-index: 10;
    background: #c7c7c7;
}

.panel-section-wrapper {
    display: none;
}

.panel-section-wrapper.active {
    display: inline-block;
    position: relative;
    width: 100%;
}

.header-btn {
    display: inline-block;
    border-right: 1px solid #666;
    text-align: center;
    padding-top: 15px;
    height: 100%;
    cursor: pointer;
    background-color: #8dbed6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: .75px;
    text-shadow: -1px 1px #0878af;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-btn:hover {
    background-color: #4eb3e4;
}

.header-btn.active {
    background-color: #06c8f7;
}

.header-btn:last-child {
    border-right: 0;
}


/* Layer List */

.layer-tab-header {
    display: inline-block;
    height: 50px;
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #06c8f7;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: .75px;
    text-shadow: -1px 1px #0878af;
    text-align: left;
    border-bottom: 1px solid #666;
}

#layer-list-wrapper.active {
    height: 25%;
}

#layer-list-wrapper.active .layer-list {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

#layer-list-wrapper .layer-list {
    display: none;
}

.layer-select {
    width: 100%;
    padding-bottom: 10px;
}

.layer-select input {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.layer-select .layer-label {
    font: 15px sans-serif;
    font-weight: bold;
    vertical-align: top;
}

/* Graphs */

.graph-type-btn {
    width: 33.333%;
}

#graphs-wrapper {
    max-height: 100%;
}

.graph-list {
    overflow: scroll;
    max-height: 100%;
    margin-top: -50px;
    padding-top: 50px;
}

.timeseries-graph, .overlapping-graph, .polar-graph {
    display: none;
}

.graph-timeseries .timeseries-graph {
    display: block;
}

.graph-overlapping .overlapping-graph {
    display: block;
}

.graph-polar .polar-graph {
    display: block;
}

.graph-elem {
    border-bottom: 1px solid #aaa;
    padding: 20px 15px
}

.graph-active #map {
    cursor: crosshair;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


.frame {
    fill: none;
    stroke: #000;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
    stroke: #333;
    stroke-dasharray: none;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.center-line {
    stroke: #dd82d2;
    stroke-width: 3px;
}

.growing-season-line {
    stroke: #e28c0b;
    stroke-width: 1px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}

div.tooltip:after {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid lightsteelblue;
    bottom: -8px;
    left: 40px;
    content: "";
    z-index: 10;
}

svg {
    position: relative;
}

circle {
    position: relative;
    z-index: 0;
}

circle.active {
    z-index: 100;
}

.input-wrapper {
    display: inline-block;
    vertical-align: top;
}

.input-wrapper div {
    margin-top: 2px;
}

.input-wrapper label {
    padding-left: 5px;
    cursor: pointer;
}

.input-wrapper input {
    cursor: pointer;
}